{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
    <div class="col-md-7 dark align-center">
    <h1 class="text-center">Contact Us</h1>
    <form method="POST" action="/manage">
         {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name1" name="name1" placeholder="Enter your Name" required>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email1" name="email1" placeholder="Enter Your Email" required>
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone1" name="phone1" placeholder="Enter Your Phone Number" required>
        </div>      
        
        <div class="form-group">
            <label for="desc">Tell me about what you want to contact me for...</label>
            <textarea class="form-control" id="desc1" rows="3" name="desc1"  required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
</div>
{% endblock body %}